body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -200px 0;
  background-attachment: fixed;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.body {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.body hr {
  opacity: 0.2;
}

.mian-title {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
}

.mian-title img {
  width: 200px;
  -webkit-animation: logo-rot 3s 0s infinite;
          animation: logo-rot 3s 0s infinite;
}

.mian-title .title {
  text-align: center;
}

.mian-title .title h1 {
  font-size: 120px;
  line-height: 0;
  color: #fff;
}

.mian-title .title p {
  color: #ffbb00;
  letter-spacing: 1px;
  margin-top: -30px;
}

@-webkit-keyframes logo-rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes logo-rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.menu {
  width: 90px;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #fff;
  border-radius: 0 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.menu .item .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .item .logo img {
  width: 45px;
  margin-left: 10px;
}

.menu .item .logo h2 {
  margin-left: 55px;
}

.menu .item .icons {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.menu .item .icons a {
  color: #fff;
  text-decoration: none;
}

.menu .item .icons .i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.menu .item .icons .i i {
  margin-bottom: 20px;
  font-size: 20px;
}

.menu .item .icons .p {
  margin-top: -15px;
  font-weight: 600;
  margin-left: 45px;
}

.menu .item .icons .p p {
  margin-bottom: 22px;
  cursor: pointer;
}

.menu .item .icons .p .ul {
  height: 0;
  width: 200px;
  border-left: 2.5px solid #fff;
  margin-top: -20px;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
}

.menu .item .icons .p .ul ul {
  position: absolute;
  margin-top: 10px;
  margin-left: -15px;
}

.menu .item .icons .p .ul ul li {
  list-style: none;
  line-height: 22px;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .item .icons .p .ul ul li a {
  font-size: 13px;
}

.menu .item .icons .p .ul ul li div {
  width: 15px;
  background: #fff;
  height: 2px;
  margin-right: 5px;
}

.menu .item .icons .p .ul-active {
  height: 140px;
}

.menu .item .tcf-logo {
  position: absolute;
  bottom: 20px;
  left: 8px;
}

.menu .item .tcf-logo img {
  width: 45px;
}

.menu .open-arrow {
  height: 100vh;
  border-left: 1px solid #ffffff49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  position: absolute;
  right: 0;
}

.menu .open-arrow i {
  font-size: 25px;
  margin-left: 5px;
}

.menu .open-arrow .fa-chevron-right {
  display: block;
}

.menu .open-arrow .fa-chevron-left {
  display: none;
}

.menu-active {
  width: 280px;
}

.menu-active .open-arrow .fa-chevron-left {
  display: block;
}

.menu-active .open-arrow .fa-chevron-right {
  display: none;
}

.content {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.content h2 {
  text-transform: capitalize;
  color: #ffbb00;
  list-style: decimal;
}

.content p {
  line-height: 25px;
  color: #fff;
}

.content h3 {
  margin-left: 20px;
  color: #fff;
}

.content .cdn {
  background: #000000c9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 20px;
  color: #fff;
}

.content .cdn span {
  color: #0011ff;
}

.content .cdn a {
  color: #6f00ff;
}

.content .cdn b {
  color: #ae00ff;
  font-weight: 100;
}

.content .cdn c {
  color: #0084ff;
}

.content .cdn button {
  padding: 5px 15px;
  border: 1px solid #ffbb00;
  background: transparent;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content .cdn button i {
  margin-left: 5px;
  display: none;
}

.content ul li {
  line-height: 25px;
  background: #0000008c;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.content ul li i {
  margin: 0 10px;
}

.content .mobile-open div {
  background: #fff;
}

.content .mobile-close div {
  background: #fff;
}

.content .mobile-close {
  left: 0;
}

.content .mob-ex {
  border-left: 2px solid #ffbb00;
  background: #000000c9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px;
}

.content .mob-ex span {
  color: #6f00ff;
}

.content .mob-ex a {
  color: #7700ff;
}

.content .mob-ex b {
  color: #ffc266;
  font-weight: 100;
}

.content .mob-ex video {
  width: 600px;
}

@media screen and (max-width: 540px) {
  .content {
    width: 65%;
  }
  .content .cdn {
    padding: 10px;
  }
  .content .cdn p {
    line-height: 15px;
    font-size: 10px;
  }
  .content ul li {
    font-size: 10px;
    line-height: 15px;
  }
  .content .mob-ex video {
    width: 300px;
  }
  .mian-title {
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px auto;
  }
  .mian-title img {
    width: 100px;
    -webkit-animation: logo-rot 3s 0s infinite;
            animation: logo-rot 3s 0s infinite;
  }
  .mian-title .title h1 {
    font-size: 80px;
  }
  .mian-title .title p {
    font-size: 10px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 425px) {
  .mian-title {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px auto;
  }
  .mian-title img {
    width: 80px;
  }
  .mian-title .title h1 {
    font-size: 60px;
  }
  .mian-title .title p {
    font-size: 8px;
    margin-top: -15px;
  }
  .content {
    width: 70%;
  }
  .content p {
    font-size: 13px;
    line-height: 20px;
  }
  .content h2 {
    font-size: 20px;
  }
  .content .mob-ex video {
    width: 200px;
  }
  .content .cdn button {
    padding: 3px 8px;
    font-size: 7px;
    border-radius: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .content .cdn button i {
    margin-left: 5px;
    display: none;
  }
  .menu {
    width: 60px;
    border-radius: 0 15px 15px 0;
  }
  .menu .item .logo img {
    width: 25px;
    margin-left: 10px;
  }
  .menu .item .logo h2 {
    margin-left: 55px;
  }
  .menu .item .icons .i {
    margin-left: 10px;
  }
  .menu .item .icons .i i {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .menu .item .icons .p {
    margin-top: -15px;
    margin-left: 45px;
  }
  .menu .item .icons .p p {
    margin-bottom: 22px;
    font-size: 14px;
  }
  .menu .item .icons .p .ul {
    height: 0;
    width: 200px;
    border-left: 2.5px solid #fff;
    margin-top: -20px;
    margin-left: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
  }
  .menu .item .icons .p .ul ul {
    position: absolute;
    margin-top: 10px;
    margin-left: -15px;
  }
  .menu .item .icons .p .ul ul li {
    list-style: none;
    line-height: 22px;
    margin-left: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .item .icons .p .ul ul li a {
    font-size: 13px;
  }
  .menu .item .icons .p .ul ul li div {
    width: 15px;
    background: #fff;
    height: 2px;
    margin-right: 5px;
  }
  .menu .item .icons .p .ul-active {
    height: 140px;
  }
  .menu .item .tcf-logo {
    position: absolute;
    bottom: 20px;
    left: 8px;
  }
  .menu .item .tcf-logo img {
    width: 25px;
  }
  .menu .open-arrow {
    height: 100vh;
    border-left: 1px solid #ffffff49;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
    position: absolute;
    right: 0;
  }
  .menu .open-arrow i {
    font-size: 20px;
    margin-left: 5px;
  }
  .menu-active {
    width: 280px;
  }
}

@media screen and (max-width: 375px) {
  .content {
    width: 65%;
  }
  .content p {
    font-size: 13px;
    line-height: 20px;
  }
  .content h2 {
    font-size: 20px;
  }
  .content .mob-ex video {
    width: 200px;
  }
  .content .cdn p {
    font-size: 8px;
    line-height: 10px;
  }
  .mian-title {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px auto;
  }
  .mian-title img {
    width: 50px;
  }
  .mian-title .title h1 {
    font-size: 40px;
  }
  .mian-title .title p {
    font-size: 5px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    width: 60%;
  }
  .content p {
    font-size: 10px;
    line-height: 17px;
  }
  .content h2 {
    font-size: 15px;
  }
  .content h3 {
    font-size: 13px;
  }
  .content .mob-ex video {
    width: 200px;
  }
  .content .cdn p {
    font-size: 6px;
    line-height: 8px;
  }
  .content .mob-ex {
    font-size: 10px;
  }
  .content .mob-ex video {
    width: 150px;
  }
  .mian-title {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px auto;
  }
  .mian-title img {
    width: 50px;
  }
  .mian-title .title h1 {
    font-size: 40px;
  }
  .mian-title .title p {
    font-size: 5px;
    margin-top: -10px;
  }
}
/*# sourceMappingURL=style.css.map */