body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #000;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.body {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.body hr {
  opacity: 0.2;
}

.mian-title {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
}

.mian-title img {
  width: 200px;
}

.mian-title .title {
  text-align: center;
}

.mian-title .title h1 {
  font-size: 120px;
  line-height: 0;
  color: #fff;
}

.mian-title .title p {
  color: #ffbb00;
  letter-spacing: 1px;
  margin-top: -30px;
}

.menu {
  width: 90px;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background: linear-gradient(145deg, #ff5900 0%, #ff9500 100%);
  color: #fff;
  border-radius: 0 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.menu .item .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .item .logo img {
  width: 45px;
  margin-left: 10px;
}

.menu .item .logo h2 {
  margin-left: 55px;
}

.menu .item .icons {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.menu .item .icons a {
  color: #fff;
  text-decoration: none;
}

.menu .item .icons .i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.menu .item .icons .i i {
  margin-bottom: 20px;
  font-size: 20px;
}

.menu .item .icons .p {
  margin-top: -15px;
  font-weight: 600;
  margin-left: 45px;
}

.menu .item .icons .p p {
  margin-bottom: 22px;
  cursor: pointer;
}

.menu .item .icons .p .ul {
  height: 0;
  width: 200px;
  border-left: 2.5px solid #fff;
  margin-top: -20px;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
}

.menu .item .icons .p .ul ul {
  position: absolute;
  margin-top: 10px;
  margin-left: -15px;
}

.menu .item .icons .p .ul ul li {
  list-style: none;
  line-height: 22px;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .item .icons .p .ul ul li a {
  font-size: 13px;
}

.menu .item .icons .p .ul ul li div {
  width: 15px;
  background: #fff;
  height: 2px;
  margin-right: 5px;
}

.menu .item .icons .p .ul-active {
  height: 140px;
}

.menu .item .tcf-logo {
  margin-top: 280px;
  margin-left: 10px;
  position: fixed;
}

.menu .item .tcf-logo img {
  width: 45px;
}

.menu .open-arrow {
  height: 100vh;
  border-left: 1px solid #ffffff49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  position: absolute;
  right: 0;
}

.menu .open-arrow i {
  font-size: 25px;
  margin-left: 5px;
}

.menu .open-arrow .fa-chevron-right {
  display: block;
}

.menu .open-arrow .fa-chevron-left {
  display: none;
}

.menu-active {
  width: 280px;
}

.menu-active .open-arrow .fa-chevron-left {
  display: block;
}

.menu-active .open-arrow .fa-chevron-right {
  display: none;
}

.content {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.content h2 {
  text-transform: capitalize;
  color: #ffbb00;
  list-style: decimal;
}

.content p {
  line-height: 25px;
  color: #fff;
}

.content h3 {
  margin-left: 20px;
  color: #fff;
}

.content .cdn {
  background: #99999928;
  padding: 30px;
  border-radius: 20px;
  color: #fff;
}

.content .cdn span {
  color: #0011ff;
}

.content .cdn a {
  color: #6f00ff;
}

.content .cdn b {
  color: #ae00ff;
  font-weight: 100;
}

.content .cdn c {
  color: #0084ff;
}

.content ul li {
  line-height: 25px;
  background: #99999928;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.content ul li i {
  margin: 0 10px;
}

.content .mobile-open div {
  background: #fff;
}

.content .mobile-close div {
  background: #fff;
}

.content .mobile-close {
  left: 0;
}

.content .mob-ex {
  border-left: 2px solid #ffbb00;
  background: #99999928;
  padding: 20px;
}

.content .mob-ex span {
  color: #6f00ff;
}

.content .mob-ex a {
  color: #7700ff;
}

.content .mob-ex b {
  color: #ffc266;
  font-weight: 100;
}

.content .mob-ex video {
  width: 600px;
}
/*# sourceMappingURL=style.css.map */