body
    margin: 0
    padding: 0
    font-family: Arial
    background: url(../images/back.png)
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    background-position: -150px 0
    color: #fff
    width: 100%
    height: 100vh
    overflow: hidden
    &::-webkit-scrollbar 
        opacity: 0

.body-a
    width: 100%
    height: 100vh
    overflow-y: scroll
    &::-webkit-scrollbar 
        transition: 0.3s
        opacity: 1
        width: 10px
        background: rgb(0, 0, 0)
    

::-webkit-scrollbar-thumb
    background: linear-gradient(#ffb938, #ff6141, #ffb938)
    border-radius: 6px
    height: 150px

::-webkit-scrollbar-thumb:hover
    background: linear-gradient(#ff6141, #ffb938)

html
    scroll-behavior: smooth 
.body
    width: 100%
    overflow: hidden
    position: relative
    hr
        opacity: 0.2
.load
    width: 100%
    height: 100vh
    position: fixed
    z-index: 9999999
    background: #000
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    animation: fadeOut 2s 0s forwards
    img
        width: 150px
        animation: logo-rot 3s 0s infinite   
    .dots
        display: flex
        div
            width: 15px
            height: 15px
            background: linear-gradient(320deg, rgba(255,159,48,1) 0%, rgba(255,186,88,1) 100%)
            border-radius: 20px
            margin-right: 5px
            opacity: 0.4
            animation: dot 1s 0s infinite
            &:last-child
                margin-right: 0
            &:nth-child(2)
                animation: dot 1s 0.2s infinite
            &:nth-child(3)
                animation: dot 1s 0.5s infinite
            &:nth-child(4)
                animation: dot 1s 0.7s infinite
            &:nth-child(5)
                animation: dot 1s 0.9s infinite

    @keyframes dot
        0%
            opacity: 1
        100%
            opacity: 0.4
            

@keyframes fadeOut 
  0% 
    opacity: 1
  25% 
    opacity: 1
  50% 
    opacity: 1
  100% 
    opacity: 0

#rus, #usa
    display: none

.language-changer 
    background: #d3d3d344
    backdrop-filter: blur(3px)
    border-radius: 30px
    width: 50px
    height: 50px
    position: fixed
    z-index: 10
    top: 15px
    right: 15px
    overflow: hidden
    transition: 0.3s
    .items
        padding: 10px
        display: flex
        flex-direction: column
        img
            width: 30px
            margin-bottom: 15px
            cursor: pointer
            &:last-child
                margin-bottom: 0
.lang-a
    height: 140px

.mob-menu
    display: none    
.mian-title
    width: 700px
    display: flex
    align-items: center
    justify-content: center
    margin: 30px auto
    img
        width: 200px
        animation: logo-rot 3s 0s infinite
    .title
        text-align: center
        h1
            font-size: 120px
            line-height: 0
            color: #fff
        p
            color: #ffbb00
            letter-spacing: 1px
            margin-top: -30px
    @keyframes logo-rot
        0%
            transform: rotate(0deg)
        50%
            transform: rotate(25deg)
        100%
            transform: rotate(0deg)
            

.menu
    width: 90px
    height: 100vh
    position: fixed
    z-index: 9999
    background: rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(5px) 
    color: #fff
    border-radius: 0 15px 15px 0
    display: flex
    justify-content: space-between
    transition: 0.3s
    overflow: hidden
    .item
        .logo
            display: flex
            align-items: center
            img
                width: 45px
                margin-left: 10px
            h2
                margin-left: 55px
        .icons
            width: 250px
            display: flex
            margin-top: 50px
            a
                color: #fff
                text-decoration: none
            .i
                display: flex
                flex-direction: column
                margin-left: 20px
                i
                    margin-bottom: 20px
                    font-size: 20px
            .p
                margin-top: -15px
                font-weight: 600
                margin-left: 45px
                p
                    margin-bottom: 22px
                    cursor: pointer
                .ul
                    height: 0
                    width: 200px
                    border-left: 2.5px solid #fff
                    margin-top: -20px
                    margin-left: 20px
                    transition: 0.3s
                    overflow: hidden
                    position: relative
                    ul
                        position: absolute
                        margin-top: 10px
                        margin-left: -15px
                        li
                            list-style: none
                            line-height: 22px
                            margin-left: -30px
                            display: flex
                            align-items: center
                            a
                                font-size: 13px
                            div
                                width: 15px
                                background: #fff
                                height: 2px
                                margin-right: 5px
                .ul-active
                    height: 170px
        .tcf-logo
            position: absolute
            bottom: 20px
            left: 8px
            img
                width: 45px
    .open-arrow
        height: 100vh
        border-left: 1px solid #ffffff49
        display: flex
        align-items: center
        margin-right: 5px
        position: absolute
        right: 0
        i
            font-size: 25px
            margin-left: 5px
        .fa-chevron-right
            display: block
        .fa-chevron-left
            display: none
.menu-active
    width: 280px
    .open-arrow
        .fa-chevron-left
            display: block
        .fa-chevron-right
            display: none



.content
    width: 70%
    margin: 0 auto
    position: relative
    h2
        text-transform: capitalize
        color: #ffbb00
        list-style: decimal
    p
        line-height: 25px
        color: #fff
    h3
        margin-left: 20px
        color: #fff
    .cdn
        background: #000000c9
        backdrop-filter: blur(5px) 
        padding: 20px
        border-radius: 20px
        color: #fff
        span
            color: #0011ff
        a
            color: #6f00ff
        b
            color: #ae00ff
            font-weight: 100
        c
            color: #0084ff
        button
            padding: 5px 15px
            border: 1px solid #ffbb00
            background: transparent
            color: #fff
            border-radius: 20px
            transition: 0.3s
            i
                margin-left: 5px
                display: none
    ul
        li
            line-height: 25px
            background: #0000008c
            backdrop-filter: blur(5px) 
            padding: 10px
            margin-bottom: 5px
            border-radius: 10px
            i
                margin: 0 10px
    .mobile-open div
        background: #fff
    .mobile-close div
        background: #fff
    .mobile-close
        left: 0
    .mob-ex
        border-left: 2px solid #ffbb00
        background: #000000c9
        backdrop-filter: blur(5px) 
        padding: 20px
        span
            color: #6f00ff
        a
            color: #7700ff
        b
            color: #ffc266
            font-weight: 100
        video
            width: 600px

@media screen and (max-width: 768px)
    .menu
        display: none
    .mmbb
        display: block
    .mob-menu
        position: fixed
        background: #00000050
        backdrop-filter: blur(3px)
        display: flex
        flex-direction: row-reverse
        align-items: center
        border-radius: 50px
        z-index: 10
        width: 60px
        transition: 0.3s
        height: 60px
        top: 10px
        left: 20px
        overflow: hidden
        img
            width: 35px
            margin-right: 13px
        .i
            margin-right: 15px
            width: 150px
            display: flex
            a
                color: #fff
                text-decoration: none
                margin-right: 20px
    .mob-a
        width: 250px
@media screen and (max-width: 540px)
    .content
        width: 80%
        .cdn 
            padding: 10px
            p
                line-height: 15px
                font-size: 10px
        ul
            li
                font-size: 10px
                line-height: 15px
        .mob-ex
            video
                width: 300px
    .mian-title
        width: 350px
        display: flex
        align-items: center
        justify-content: center
        margin: 30px auto
        img
            width: 100px
            animation: logo-rot 3s 0s infinite
        .title
            h1
                font-size: 80px
            p
                font-size: 10px
                margin-top: -20px

@media screen and (max-width: 425px)   
    .mian-title
        width: 250px
        display: flex
        align-items: center
        justify-content: center
        margin: 30px auto
        img
            width: 80px
        .title
            h1
                font-size: 60px
            p
                font-size: 8px
                margin-top: -15px
    .content
        width: 80%
        p
            font-size: 13px
            line-height: 20px
        h2
            font-size: 20px
        .mob-ex
            video
                width: 200px
        .cdn
            button
                padding: 3px 8px
                font-size: 7px
                border-radius: 20px
                transition: 0.3s
                i
                    margin-left: 5px
                    display: none
    .menu
        width: 60px
        border-radius: 0 15px 15px 0
        .item
            .logo
                img
                    width: 25px
                    margin-left: 10px
                h2
                    margin-left: 55px
            .icons
                .i
                    margin-left: 10px
                    i
                        margin-bottom: 20px
                        font-size: 15px
                .p
                    margin-top: -15px
                    margin-left: 45px
                    p
                        margin-bottom: 22px
                        font-size: 14px
                    .ul
                        height: 0
                        width: 200px
                        border-left: 2.5px solid #fff
                        margin-top: -20px
                        margin-left: 20px
                        transition: 0.3s
                        overflow: hidden
                        position: relative
                        ul
                            position: absolute
                            margin-top: 10px
                            margin-left: -15px
                            li
                                list-style: none
                                line-height: 22px
                                margin-left: -30px
                                display: flex
                                align-items: center
                                a
                                    font-size: 13px
                                div
                                    width: 15px
                                    background: #fff
                                    height: 2px
                                    margin-right: 5px
                    .ul-active
                        height: 140px
            .tcf-logo
                position: absolute
                bottom: 20px
                left: 8px
                img
                    width: 25px
        .open-arrow
            height: 100vh
            border-left: 1px solid #ffffff49
            display: flex
            align-items: center
            margin-right: 5px
            position: absolute
            right: 0
            i
                font-size: 20px
                margin-left: 5px
    .menu-active
        width: 280px
                 
@media screen and (max-width: 375px)
    .content
        width: 80%
        p
            font-size: 13px
            line-height: 20px
        h2
            font-size: 20px
        .mob-ex
            video
                width: 200px
        .cdn
            p
                font-size: 9px
                line-height: 10px
    .mian-title
        width: 200px
        display: flex
        align-items: center
        justify-content: center
        margin: 30px auto
        img
            width: 50px
        .title
            h1
                font-size: 40px
            p
                font-size: 5px
                margin-top: -10px

@media screen and (max-width: 320px)
    .content
        width: 80%
        p
            font-size: 10px
            line-height: 17px
        h2
            font-size: 15px
        h3
            font-size: 13px
        .mob-ex
            video
                width: 200px
        .cdn
            p
                font-size: 8px
                line-height: 8px
        .mob-ex
            font-size: 10px
            video
                width: 150px
    .mian-title
        width: 200px
        display: flex
        align-items: center
        justify-content: center
        margin: 30px auto
        img
            width: 50px
        .title
            h1
                font-size: 40px
            p
                font-size: 5px
                margin-top: -10px
        